/* Stile base per il layout */
html, body {
    height: 100%; /* Assicura che il layout occupi l'intera altezza della pagina */
    margin: 0; /* Rimuove i margini predefiniti */
    display: flex;
    flex-direction: column;
    font-family: sans-serif; /* Font semplice e leggibile */
    background-color: #f8f9fa; /* Sfondo grigio chiaro */
}

/* Contenuto principale */
.container {
    flex: 1; /* Occupa tutto lo spazio disponibile tra navbar e footer */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra il contenuto verticalmente */
    align-items: center; /* Centra il contenuto orizzontalmente */
    text-align: center;
}

/* Navbar */
.navbar.container {
    background-color: white; /* Navbar bianca */
    border-bottom: 1px solid #ffffff; /* Linea sottile sotto la navbar */
}

/* Footer */
.footer {
    background-color: #f8f9fa; /* Sfondo grigio chiaro */
    border-top: 1px solid #ffffff; /* Linea sottile sopra il footer */
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}